package config

import "time"

var (
    // the version of the controller
	Version = "0.0.1"

{{- if needs_metrics }}
    // The Address of the Prometheus server to connect to for metrics
    MetricsServer = "http://{{ .OperatorName }}-prometheus:9090"

    // The Mesh Provider (determines what types of metrics to use)
    MeshProvider = "istio"
{{- end }}

    // Modify the WorkInterval to change the interval at which workers resync
    WorkInterval = time.Second * 5
)
