apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: canaries.canaries.solo.io
spec:
  group: canaries.solo.io
  names:
    kind: Canary
    listKind: CanaryList
    plural: canaries
    singular: canary
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Canary is the Schema for the canaries API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CanarySpec defines the desired state of Canary
          type: object
        status:
          description: CanaryStatus defines the observed state of Canary
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
